astroid==2.8.6
certifi==2021.5.30
cycler==0.11.0
easyocr==1.4
Flask==2.1.0
flask-cors
googletrans==4.0.0rc1
h11==0.12.0
httpcore==0.12.3
idna==3.2
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.1.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
numpy
openai==0.11.0
Pillow
pyasn1
pyasn1-modules
pylint
pyparsing
python-dotenv
python-dateutil
PyYAML
regex
requests
rsa
scikit-learn==0.24.2
scipy
sentence-transformers
six
sklearn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
threadpoolctl
torch
torchvision
toml
typed-ast
typing-extensions
urllib3
Werkzeug
wrapt
